table, th, td {
    border: 4px solid black;
    border-collapse: collapse;/*gộp viền cho từng ô*/
    padding: 5px;
    font-family: Arial;
}
.form-container{
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;/*khoảng cách bên trong*/
    border: 2px solid #a31d1d;
    font-family: Arial;
    background-color: #c3f8e9;
}

.nhapthongtin{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b32c2c;
    border-radius: 4px;/*bo góc*/
    box-sizing: border-box;
    font-size: 15px;
}
#chonthanhpho, #chontinh{
    width: 32%;
    padding: 10px;
    margin: 10px 2px 10px 0;
    border: 1px solid #b32c2c;
    border-radius: 4px;/*bo góc*/
    box-sizing: border-box;
    font-size: 15px;
}
textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b32c2c;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

button{
    background-color: #4CAF50;/*màu mặc định*/
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;/*con trỏ chuột*/
    font-size: 16px;
    transition: background-color 0.2s; /* chuyển màu mượt */
}

button:hover{
    background-color: #45a049;/*màu khi hover*/
}

button:active{
    background-color: #bd2a48;/*màu khi nhấn*/
}